################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KBMHttpService/.vs/KBMHttpService
/KBMHttpService/KBMHttpService/bin/Debug/net6.0
/KBMHttpService/KBMHttpService/obj
/KBMHttpService/.vs/ProjectEvaluation
/KBMHttpService/KBMHttpServices.Tests/bin/Debug/net6.0
/KBMHttpService/KBMHttpServices.Tests/obj
/KBMHttpService/KBMHttpService.IntegrationTests/bin/Debug/net6.0
/KBMHttpService/KBMHttpService.IntegrationTests/obj
